@inherits UmbracoViewPage<Zara.Models.ContactModel>

@using (Ajax.BeginForm("HandleContactForm", "Site", null, new AjaxOptions { UpdateTargetId = "contentAjaxForm", HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "requestForm", @class = "ajaxForm" }))
{
    <div id="contentAjaxForm">
        @Html.Partial("~/Views/Partials/Contact/_Form.cshtml", Model)
    </div>
}