@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="wrap-categories">
    @Html.Action("RenderCartItems", "Cart")
    @section Footer {
        @Html.Partial("~/Views/Partials/Layout/_Footer.cshtml")
    }
</div>