@model Zara.Models.EmptyCart
<div class="empty-cart-wrapper">
    <p>@Model.DictionaryText</p>
    <a class="btn--has-border-black" href="@Model.RootUrl">
        @Model.DictionaryButton
    </a>
</div>